body{
	font-family:Myriad Pro;
}
.navbar-hide{
	background:#2f4054;
}
.navbar-hide a{
	color:#6c757d;
}
.navbar-hide a:hover{
	color:#7f91a9;
}
.navbar-1{
	background:#2f4054;
}
.nav-address-1 a{
	color:#6c757d;
}
.nav-address-1 a:hover{
	color:#7f91a9;
}
.navbar-brand p{
	margin-bottom:2px;
	color:#515c6b;
	font-weight:bold;
}
.logo{
	width:30px;
	height:30px;
}
.navbar-2{
	background:#fff;
	box-shadow:0px 0px 20px 0px grey;
}
.navbar-2-shadow{
	box-shadow:0px 0px 20px 0px grey;
}
.nav-address-2 a{
	color:#515c6b;
	font-weight:bold;
}
.nav-address-2 a:hover{
	color:#7f91a9;
}
.sec-3{
	background-image:url('../img/bg.png');
	background-size:cover;
}
.sec-3-img{
	position:absolute;
	left:550px;
	top:100px;
}
@media only screen and (min-width:769px) and (max-width:1024px){
	.sec-3-img{
		left:490px;
	}
}
.sec-3-con{
	position:relative;
}
.sec-3-info{
	margin-top:80px;
	color:#fff;
	margin-bottom:300px;
}
.sec-3-info .btn-default{
	color:#fff;
	border-radius:19px;
	background:#3a83e5;
	border:2px solid #fff;
}
.sec-3-info .btn:hover{
	color:#3a83e5;
	background:#fff;
}
.sec-3-srch{
	box-shadow:0px 0px 40px 0px grey;
	background:#fff;
	position:absolute;
	top:700px;
	width:100%;
}
.sec-3-srch .input-group{
	box-shadow:5px 5px 20px 0px grey;
}
.sec-3-srch .input-group input:hover{
	box-shadow:0px 0px 20px 0px #267ae9;
}
.sec-3-srch .form-horizontal{
	margin-top:90px;
	margin-bottom:50px;
}
.sec-3-srch .form-horizontal .form-control{
	border-radius:0px;
	height:60px;
}
.sec-3-srch .form-horizontal .btn{
	border-radius:0px;
	color:#fff;
	background:#2575e7;
	border:1px solid #2575e7;
	height:60px;
	width:200px;
}
@media only screen and (min-width:359px) and (max-width:414px){
	.sec-3-srch .form-horizontal .btn{
		width:150px;
	}
}
@media only screen and (min-width:0px) and (max-width:360px){
	.sec-3-srch .form-horizontal .btn{
		width:120px;
	}
}
.sec-3-srch .form-horizontal .btn:hover{
	color:#2575e7;
	background:#fff;
}
.sec-4-con{
	margin-top:250px;
	margin-bottom:90px;
}
.sec-4-shadow{
	box-shadow:-10px 20px 40px 0px grey;
}
.sec-4-con-first-icons{
	background:#fff;
}
.sec-4-con-first-info{
	background:#267ae9;
	color:#fff;
}
.sec-4-con-first-icons .icons-position{
	color:#222;
	font-size:25px;
	margin-left:20px;
	margin-top:160px;
	margin-bottom:135px;
}
.sec-4-con-first-info .info-position{
	margin-top:90px;
	margin-left:30px;
	margin-bottom:90px;
}
.sec-4-second{
	margin-top:60px;
	margin-left:40px;
}
.blue-highlights{
	color:#267ae9;
}
.light-blue-highlights{
	color:#66ddcc;
}
.pink-highlights{
	color:#d25e62;
}
.black-highlights{
	color:#222;
}
.sec-5{
	background:#fafafa;
}
.sec-5-con{
	padding-top:90px;
	padding-bottom:90px;
}
.sec-5-con-1-row-1{
	background:#fff;
	box-shadow:0px 0px 30px 0px grey;
	padding-top:20px;
	padding-bottom:20px;
}
.sec-5-con-1-icons{
	margin-top:50px;
}
.sec-5-con-1-icons img{
	width:90px;
	height:90px;
}
.sec-5-con-1-row-1{
	padding-bottom:40px;
}
.sec-5-con-1-row-1 .borders{
	border-left:1px solid #222;
	border-right:1px solid #222;
}
.sec-5-con-1-row-2{
	padding-top:110px;
	padding-bottom:20px;
}
.sec-6-first{
	margin-top:90px;
	margin-bottom:120px;
}
.pricing-menu{
	box-shadow:0px 0px 20px 0px grey;
	max-width: 350px;
	margin-right: 30px;
	margin-bottom: 140px;
}
@media only screen and (min-width:0px) and (max-width:414px){
	.pricing-menu{
		margin-left:30px;
	}
}
@media only screen and (min-width:769px) and (max-width:1024px){
	.pricing-menu{
		max-width:300px;
		margin-right: 20px;
	}
}
@media only screen and (min-width:415px) and (max-width:768px){
	.pricing-menu{
		margin-left:180px;
	}
	.carousel-shadow{
		margin-left:15px;
		margin-top:15px;
	}
}
.pricing-info{
	margin-left:45px;
}
.pricing-menu .btn{
	line-height:2;
	border-radius:0px;
	width:100%;
}
.pricing-menu .btn:hover{
	background-color:#fff;
	color:#267ae9;
	border:none;
}
.eclipse{
	background-color:#267ae9;
	width:200px;
	height:100px;
	border-radius: 50% / 100%;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.eclipse-price{
	color:#fff;
	font-weight:bold;
	font-size:25px;
	margin-left:60px;
	padding-top:20px;
}
.sec-7{
	background:#fafafa;
}
.bio-pic{
	background:#267ae9;
	float:left;
}
.carousel-shadow{
	float:left;
}
@media only screen and (min-width:0px) and (max-width:414px){
	.carousel-shadow{
		margin-left:17px;
		margin-top:15px;
	}
}
.carousel-indicators .active{
	background:#267ae9;
}
.carousel-indicators li{
	border:1px solid #267ae9;
}
.sec-7-heading{
	margin-top:90px;
	margin-bottom:140px;
}
.carousel-inner{
	margin-bottom:130px;
}
.sec-8-con img{
	margin-top:60px;
	margin-bottom:60px;
}
.sec-9{
	background-image:url('../img/footer-bg.png');
	background-size:cover;
	color:#7f91a9;
}
.sec-9-con{
	padding-top:90px;
	padding-bottom:90px;
	line-height:2;
}
.sec-9-con a{
	color:#7f91a9;
}
.sec-9-con input{
	border-radius:0px;
	background:transparent;
	border:0.1px solid #7f91a9;
	color:#7f91a9;
}
.sec-9-con input:hover{
	box-shadow:0px 0px 20px 0px #7f91a9;
}
.sec-9-con .buttons{
	background:#267ae9;
	color:#fff;
	border-radius:0px;
	border-color:#267ae9;
}
.sec-9-con .buttons:hover{
	background:transparent;
	border-color:#7f91a9;
}
.navbar-3{
	background:#4d6587;
}
.copyright{
	font-size:65%;
}
.navbar-brand{
	color:#7f91a9;
}
.nav-address-3 li{
	float:left;
}
.nav-address-3 li a{
	color:#7f91a9;
}
.nav-address-3 li a:hover{
	color:#222;
}
.sec-10-con{
	margin-top:50px;
	margin-bottom:50px;
}
.sec-counter{
	background-image:url('../img/footer-bg.png');
	background-size:cover;
	color:#f5f5f5;
	font-size:30px;
	text-align:center;
}
.sec-counter-con{
	padding-top:50px;
	padding-bottom:50px;
}
.sec-counter .counter{
	font-weight:bold;
}
.anim1Delay{
	animation-delay:6s;
}
.buttonSwing{
	animation-iteration-count:infinite;
}
.social-icons{
	font-size:30px;
}